VITE_I18N_LOCALE=en-US
VITE_I18N_FALLBACK_LOCALE=en-US
VITE_CACHE_MAX_AGE=3600
VITE_VIEW_SIZE=10
VITE_BASE_URL=
VITE_PERMISSION_ID="FULFILLMENT_APP_VIEW"
VITE_ALIAS={}
VITE_LOCALES={"en-US": "English", "es-ES": "Español", "ja-JP": "Japanese"}
VITE_DEFAULT_LOG_LEVEL="error"
VITE_LOGIN_URL="http://launchpad.hotwax.io/login"
VITE_EMBEDDED_LAUNCHPAD_URL="https://hotwax-embedded-launchpad-dev.firebaseapp.com"
VITE_ORDER_STATUS={"ORDER_APPROVED": {"label": "Approved", "color": "primary"}, "ORDER_AUTHORIZED": {"label": "Authorized", "color": "primary"}, "ORDER_CANCELLED": {"label": "Cancelled", "color": "danger"}, "ORDER_COMPLETED": {"label": "Completed", "color": "success"}, "ORDER_CREATED": {"label": "Created", "color": "medium"}, "ORDER_EXPIRED": {"label": "Expired", "color": "warning"}, "ORDER_HOLD": {"label": "Held", "color": "warning"}, "ORDER_PROCESSING": {"label": "Processing", "color": "secondary"}, "ORDER_REJECTED": {"label": "Rejected", "color": "danger"}, "ORDER_SENT": {"label": "Sent", "color": "success"}}
VITE_ITEM_STATUS={"ITEM_CREATED": {"label": "Created", "color": "medium"}, "ITEM_CANCELLED": {"label": "Cancelled", "color": "danger"}, "ITEM_APPROVED": {"label": "Approved", "color": "primary"}, "ITEM_COMPLETED": {"label": "Completed", "color": "success"}, "ITEM_EXPIRED": {"label": "Expired", "color": "danger"}, "ITEM_REJECTED": {"label": "Rejected", "color": "warning"}}
VITE_NOTIF_APP_ID="FULFILLMENT"
VITE_NOTIF_ENUM_TYPE_ID="NOTIF_FULFILLMENT"
VITE_FIREBASE_CONFIG={"apiKey": "","authDomain": "","databaseURL": "","projectId": "","storageBucket": "","messagingSenderId": "","appId": ""}
VITE_FIREBASE_VAPID_KEY=""
VITE_REMOTE_ENTRY="https://dev-fulfillment-extensions.firebaseapp.com/remoteEntry.js"
VITE_SHOPIFY_SHOP_CONFIG={"":  { "apiKey": "", "maarg": "" }}
VITE_DEFAULT_PRODUCT_STORE_SETTINGS={"PRDT_IDEN_PREF":{"stateKey":"productIdentifier.productIdentificationPref","value":{"primaryId":"SKU","secondaryId":"productId"}},"FULFILL_FORCE_SCAN":{"stateKey":"forceScan","value":"N"},"BARCODE_IDEN_PREF":{"stateKey":"barcodeIdentifier.barcodeIdentifierPref","value":"SKU"},"FF_DOWNLOAD_PICKLIST":{"stateKey":"downloadPicklist","value":"N"},"EXCLUDE_ODR_BKR_DAYS":{"stateKey":"excludeOrderBrokerDays","value":"0"},"USE_RES_FACILITY_ID":{"stateKey":"useReservationFacility","value":"N"},"FULFILL_PART_ODR_REJ":{"stateKey":"partialOrderRejection","value":"N"},"FF_COLLATERAL_REJ":{"stateKey":"collateralRejection","value":"N"},"AFFECT_QOH_ON_REJ":{"stateKey":"affectQoh","value":"N"},"DISABLE_SHIPNOW":{"stateKey":"disableShipNow","value":"N"},"DISABLE_UNPACK":{"stateKey":"disableUnpack","value":"N"}}
VITE_SHOPIFY_REDIRECT_URI=
